In [4]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [6]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist)

35

## Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiateone entity from another.

In [13]:
var = 10 # Identifier can't start with a digit
al2 = 35 # Identifier can't use special symbols
import = 125 # Keywords can't be used as identifiers
val2 = 10
val_ = 99

SyntaxError: invalid syntax (<ipython-input-13-ea83e3cd3d60>, line 3)

## Comments in Python

In [14]:
# Single line comment
val1 = 10

In [15]:
# Multiple
# line
# comment
val1 = 10

In [16]:
'''
Multiple
line
comment
'''
val1 = 10

## Statements
Instructions that a Python interpreter can execute.

In [17]:
# Single line statement
p1 = 10 + 20
p1

30

In [18]:
# Single line statement
p2 = ['a','b','c','d']
p2

['a', 'b', 'c', 'd']

In [1]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 + \
+ 70 + 80
p1

290

In [2]:
# Multiple line statement
p2 = [
    'a',
    'b',
    'c',
    'd']
p2

['a', 'b', 'c', 'd']

### Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.If the indentation is not correct we will endup with IndentationError error

In [4]:
p = 10
if p == 10:
    print('P is equal to 10') # correct indentation

P is equal to 10

In [6]:
# if indentation is skipped we will encounter "IndentationError: expected an inde
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block (<ipython-input-6-2bef330feb24>, line 4)

In [8]:
for i in range(0, 5):
    print(i) # correct indentation

0
1
2
3
4

In [10]:
# if indentation is skipped we will encounter "IndentationError: expected an index
for i in range (0,5):
print(i)

IndentationError: expected an indented block (<ipython-input-10-ae5432fb136b>, line 3)

In [12]:
for i in range(0,5): print(i) # correct indentation but less readable

0
1
2
3
4

In [14]:
j = 20
for i in range(0,5):
    print(i)
    # inside the for loop
print(j)
# outside the for loop

0
1
2
3
4
20

### Docstrings
    1. Docstrings provide a convenient way of associating documentation with functions, classes,methods or modules.
    2. They appear right after the definition of a function, method, class, or module.

In [17]:
def square (num):
    '''Square Function :- This function will return the square of a number'''
    return num **2
square(2)

4

In [18]:
square.__doc__

'Square Function :- This function will return the square of a number'

In [20]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [21]:
evenodd(3)

Odd Number

In [22]:
evenodd(2)

Even Number

In [23]:
evenodd.__doc__

'evenodd Function :- This function will test whether a numbr is Even or Odd'

### Variables
    1.A Python variable is a reserved memory location to store values.A variable is created the momentyou first assign a value to it.

In [24]:
p = 30

In [30]:
'''
id() function returns the “identity” of the object. The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

140736709358448

In [28]:
hex(id(p)) # Memory address of the variable

'0x7fffd19174b0'

In [35]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to point
print(id(p))
q = 20 # Create new reference q which will point to value 20. p & q will be point
print(id(q))
r = q # variable r will also point to the same location where p & q are pointing
print(id(q))
w = 21
print(id(w)) # w will referss the 21 location, which is printed. it will be different from p,q and r

p, type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

140736709358448
140736709358448
140736709358448
140736709358480

(20, int, '0x7fffd1917370')

In [37]:
p = 20
p = p + 10
p

30

### Variable Assigment

In [38]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar) 
print(strvar)

10
2.57
Python Language

#### Multiple Assignments

In [2]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"

# Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [3]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1, p2, p3, p4)

44 44 44 44

## Data Types

#### Numeric

In [5]:
import sys
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1," is Integer?", isinstance (val1, int)) # val1 is an instance of int class

10
<class 'int'>
28
10  is Integer? True

In [6]:
import sys
val2 = 97.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of integer object in bytes
print(val2," is float?", isinstance (val2, float)) # val1 is an instance of int class

97.78
<class 'float'>
24
97.78  is float? True

In [9]:
import sys
val3 = 925 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of integer object in bytes
print(val3," is complex?", isinstance (val3, complex)) # val1 is an instance of int class

(925+10j)
<class 'complex'>
32
(925+10j)  is complex? True

In [11]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [12]:
sys.getsizeof(float()) # size of float object in bytes

24

In [13]:
sys.getsizeof(complex()) # size of complex object in bytes

32

#### Boolean

In [18]:
bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))
print("Instance of bool: ", isinstance(bool1, bool))

<class 'bool'>
<class 'bool'>
Instance of bool:  True

In [23]:
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

False
True
False
False

### String

In [31]:
# String Creation
str1 = "Hello Python"
print(str1)

mystr = 'Hello World' # Define string using single quotes
print(mystr)

mystr = "Hello Double quotes" # Define string using single quotes
print(mystr)

Hello Python
Hello World
Hello Double quotes

In [29]:
mystr = '''Hello 
multi
line 
string
''' # Define string using single quotes
print(mystr)

Hello
multi
line
string

In [32]:
mystr = """Hello 
multi
line 
string
""" # Define string using using triple quotes
print(mystr)

Hello
multi
line
string

## Multiply string

In [33]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5 
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [34]:
len(mystr2)

35

### String Indexing

In [39]:
len(mystr2)

35

In [40]:
str1

'Hello Python'

In [41]:
str1[0] # First character in string "str1"

'H'

In [45]:
print(str1[len(str1) - 1]) # Last character in string using len function
print(str1[-1]) # Last character in string

n
n

In [46]:
str1[6] #Fetch 7th element of the string

'P'

In [48]:
print(str1[5])

### String Slicing

In [50]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excluding other elements

'Hello'

In [53]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc excluding other elements

'Python'

In [58]:
str1[-4:] # Retreive last four characters of the string

'o Python'

In [59]:
str1[-6:] # Retreive last six characters of the string

'Python'

In [60]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [61]:
str1[:6] # Retreive first six characters of the string

'Hello '

In [62]:
str1

'Hello Python'

### Update & Delete String

In [65]:
#Strings are immutable which means elements of a string cannot be changed once the value
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [66]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

### String concatenation

In [68]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

In [69]:
s1 = "Hello"
s2 = "Asif"
s3 =  s1 + " " + s2
print(s3)

Hello Asif

### Iterating through a String

In [72]:
mystr1 = "Hello Everyone"
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [73]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [74]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and return

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

#### String Membership

In [75]:
# String membership
mystr1 = "Hello Everyone"

print('Hello' in mystr1) # Check whether substring "Hello" is present in string
print('Everyone' in mystr1) # Check whether substring "Everyone" is present in string "mystr1"
print('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystr1"

True
True
False

### String Partitioning

In [78]:
"""
The partition() method searches for a specified string and splits the string into

- The first element contains the part before the argument string.

- The second element contains the argument string.

- The third element contains the part after the argument string.

"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L[0])
print(L[1])
print(L[2])

Natural language processing with Python
and
 R and Java

In [79]:
"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions

In [80]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [81]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [82]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [83]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [84]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [86]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [88]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [89]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [90]:
mystr2 = " Hello Everyone "

In [91]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [92]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [93]:
mystr2.replace("He","Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [99]:
mystr2.replace(" ","") # Remove all whitespaces using replace function

'HelloEveryone'

In [98]:
mystr5 = "one two Three one two two three"

In [97]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [100]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [101]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [102]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [105]:
mystr4 = "one two three four one two two three five five six seven six seven one one, one, ten, eight, ten, nine, eleven, ten, ten, nine"

In [107]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one,',
 'one,',
 'ten,',
 'eight,',
 'ten,',
 'nine,',
 'eleven,',
 'ten,',
 'ten,',
 'nine']

In [108]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77 
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1, item2, item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [110]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77 
res = "Cost of item3 , item2 and item1 are {2}, {1} and {0}"
print(res.format(item1, item2, item3))

Cost of item3 , item2 and item1 are 77, 55 and 40

In [113]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)
# center align the string using a specific character as t
print(str2)

                                          WELCOME EVERYONE

In [114]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [115]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the
print(str2)

                                 WELCOME EVERYONE

In [116]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*
print(str2)

******************************** WELCOME EVERYONE

In [117]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [118]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [120]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or numbers
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [121]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [122]:
mystr6 = 'abc12309'
print(mystr6.isalpha())
# returns True if all the characters in the text are lett
print(mystr6.isalnum())
# returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric ()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [123]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())   # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [124]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [126]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [127]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [128]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [129]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [130]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### Using Escape Character

In [131]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones ""

SyntaxError: invalid syntax (<ipython-input-131-4dd51e12dc57>, line 2)

In [132]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

## List
1. List is an ordered sequence of items.
2. We can have different data types under a list. E.g we can have integer, float and string items ina same list.

### List Creation

In [137]:
list1 = [] # Empty List
print(list1)
print(type(list1))

[]
<class 'list'>

In [138]:
list2 = [10, 30, 60] # List of integers numbers

In [139]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [140]:
list4 = ['one','two',"three"] # List of strings

In [141]:
list5 = ['Asif',25,[50,100],[150,90]] # Nested Lists

In [142]:
list6 =[100,'Asif',17.765] # List of mixed data types

In [143]:
list7 = ['Asif',25,[50,100],[150,90] , {'John','David'}]

In [144]:
len(list6)

3

In [147]:
list2[0] # Retreive first element of the list

10

In [148]:
list4[0] # Retreive first element of the list

'one'

In [149]:
list4[0][0] # Nested indexing - Access the first character of the first list element.

'o'

In [150]:
list4[-1] # Last item of the list

'three'

In [152]:
list5[-1] # Last item of the list

[150, 90]

### List Slicing

In [154]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [155]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the items not in the range.

['one', 'two', 'three']

In [156]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at

['three', 'four', 'five']

In [157]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [158]:
mylist[:2] # Return first two items

['one', 'two']

In [159]:
mylist[-3:]# Return last three items

['six', 'seven', 'eight']

In [160]:
mylist[-2:]# Return last two items

['seven', 'eight']

In [161]:
mylist[-1]# Return last item of the list

'eight'

In [162]:
mylist[:]# Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [163]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [165]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [167]:
mylist.insert(9,'ten') # Add item at index location 9, element at the 9th position will be moved to 10th position.
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten',
 'nine']

In [168]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten',
 'nine']

In [169]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten',
 'nine']

In [170]:
mylist.pop() # Remove last item of the list
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten']

In [171]:
mylist.pop(8)# Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 'ten']

In [172]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'ten', 'ten']

In [173]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'ten', 'ten']

In [174]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [175]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

### Copy List

In [179]:
mylist = ['one','two','three','four','five','six','seven','eight','nine','ten']
mylist1 = mylist # Create a new reference "mylist1"
id(mylist),id(mylist1) # The address of both mylist & mylist1 will be the same

(2049680679688, 2049680679688)

In [182]:
mylist2 = mylist.copy() # Create a copy of the list

In [183]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2049680681352

In [185]:
mylist[0] = 1 
mylist
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [186]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join List

In [211]:
list1 = ['one','two','three','four']
list2 = ['five','six','seven','eight']
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [212]:
list1.extend(list2) #Append list2 with list1 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List Membership

In [192]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [193]:
'one' in list1

True

In [194]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [195]:
if 'three' in list1 : # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [197]:
if'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

In [198]:
### Reverse & Sort List

In [210]:
list1

In [218]:
list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [217]:
list1 = list1[::-1] # Reverse the list 
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [219]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [220]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse = True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [221]:
mylist4 = [88,65,33,21,11,98] 
sorted(mylist4)
# Returns a new sorted list and doesn't change original li

[11, 21, 33, 65, 88, 98]

#### Loop through a list

In [222]:
for i in list1:
    print(i)

eight
seven
six
five
four
three
two
one

In [223]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')

In [224]:
list10 = [ 'one' , 'two' , 'three' , 'four' , 'one' , 'one' , 'two' , 'three' ]

In [225]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [226]:
list10.count('two') # Occurence of item 'two' in the list

2

In [227]:
list10.count ( 'four' ) #Occurence of item 'four' in the list

1

# All / Any
The all() method returns:
1. True
    - If all elements in a list are true
2. False
    - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [228]:
L1 = [ 1 , 2 , 3 , 4 , 0 ]

In [230]:
all (L1) # Will Return false as one value is false (Value 0)

False

In [231]:
any(L1) # Will Return True as we have items in the list with True value

True

In [232]:
L2 = [ 1 , 2 , 3 , 4 , True , False ]

In [233]:
all(L2)

False

In [234]:
any ( L2 ) # Will Return True as we have items in the list with True value

True

In [235]:
L3 = [ 1 , 2 , 3 , True ]

In [236]:
all(L3) # Will return True as all items in the list are True

True

In [237]:
any(L3) # Will Return True as we have items in the list with True value

True

# List Comprehensions
- List Comprehensions provide an elegant way to create new lists.
- It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [240]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe 
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [242]:
mylist1 = [ i for i in range ( 40 ) if i % 2 == 0 ] # Display all even numbers betwee 
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [243]:
mylist2 = [ i for i in range ( 40 ) if i % 2 == 1 ] # Display all odd numbers between
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [244]:
mylist3 = [ num ** 2 for num in range ( 10 )] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [245]:
# Multiple whole list by 10
list1 = [ 2 , 3 , 4 , 5 , 6 , 7 , 8 ]
list1 = [ i * 10 for i in list1 ]
list1

[20, 30, 40, 50, 60, 70, 80]

In [246]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi 
mylist4 = [ i for i in range ( 200 ) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0 ] 
mylist4

[0, 36, 72, 108, 144, 180]

In [251]:
# Odd even test
l1 = [ print ("{} is Even Number".format ( i )) if i % 2 == 0 else print ("{} is odd number".format(i)) for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [252]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [ i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [254]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

## Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple  once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

#### Tuple Creation

In [256]:
tup1 = () # Empty tuple

In [257]:
tup2 = (10,30,60) # tuple of integers numbers

In [258]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [259]:
tup4 = ('one','two',"three") # tuple of strings

In [260]:
tup5 = ('Asif',25,(50,100),(150,90)) # Nested tuples

In [261]:
tup6 = (100,'Asif',17.765) # Tuple of mixed data types

In [262]:
tup7 = ( 'Asif' , 25 ,[ 50 , 100 ],[ 150 , 90 ] , { 'John' , 'David' } , ( 99 , 22 , 33 ))

In [263]:
len ( tup7 ) #Length of list

6

### Tuple Indexing

In [264]:
tup2 [ 0 ] # Retreive first element of the tuple

10

In [265]:
tup4 [ 0 ] # Retreive first element of the tuple

'one'

In [266]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple elem

'o'

In [267]:
tup4 [-1] # Last item of the tuple

'three'

In [268]:
tup5[-1] # Last item of the tuple

(150, 90)

### Tuple Slicing

In [270]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' )

In [271]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [272]:
mytuple [ 2 : 5 ] # List all items from 2nd to 5th index location excluding the item a

('three', 'four', 'five')

In [273]:
mytuple [: 3 ] # Return first three items

('one', 'two', 'three')

In [277]:
mytuple [:2] # Return first two items

('one', 'two')

In [276]:
mytuple [ -3:] # Return last three items

('six', 'seven', 'eight')

In [279]:
mytuple [-2:] # Return last two items

('seven', 'eight')

In [280]:
mytuple[- 1] # Return last item of the tuple

'eight'

In [ ]:
mytuple[:] # Return whole tuple

#### Remove & Change Items

In [283]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [286]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [287]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [288]:
del mytuple # Deleting entire tuple object is possible

## Loop through a tuple

In [292]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' )
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [294]:
for i in mytuple : 
    print ( i )

one
two
three
four
five
six
seven
eight

In [296]:
for i in enumerate(mytuple):
    print ( i )

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [297]:
mytuple1 = ( 'one' , 'two' , 'three' , 'four' , 'one' , 'one' , 'two' , 'three' )

In [298]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [299]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [300]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

### Tuple Membership

In [301]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [302]:
'one' in mytuple # Check if 'one' exist in the list

True

In [303]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [304]:
if 'three' in mytuple: # Check if 'three' exist in the list  
    print ( 'Three is present in the tuple' ) 
else:
    print ( 'Three is not present in the tuple' )

Three is present in the tuple

In [305]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list 
    print ( 'eleven is present in the tuple' )
else:
    print ( 'eleven is not present in the tuple' )

eleven is not present in the tuple

In [306]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [307]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [309]:
mytuple.index('five') # Index of first element equal to 'five'
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [310]:
mytuple1.index('one')  # Index of first element equal to 'one'

0

### Sorting

In [311]:
mytuple2 = ( 43 , 67 , 99 , 12 , 6 , 90 , 67 )

In [312]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [313]:
sorted(mytuple2 , reverse = True ) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets
1. Unordered & Unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it.

### Set Creation

In [315]:
myset = { 1 , 2 , 3 , 4 , 5 } # Set of numbers myset

In [316]:
len(myset) #Length of the set

5

In [317]:
my_set = { 1 , 1 , 2 , 2 , 3 , 4 , 5 , 5 }
my_set

{1, 2, 3, 4, 5}

In [318]:
myset1 = { 1.79 , 2.08 , 3.99 , 4.56 , 5.45 } # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [319]:
myset2 = { 'Asif' , 'John' , 'Tyrion' } # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [320]:
myset3 = { 10 , 20 , "Hola" , ( 11 , 22 , 32 )} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [321]:
myset3 = { 10 , 20 , "Hola" , [ 11 , 22 , 32 ]} # set doesn't allow mutable items like lis myset3

TypeError: unhashable type: 'list'

In [322]:
myset4 = set () # Create an empty set print ( type ( myset4 ))

In [323]:
my_set1 = set (( 'one' , 'two' , 'three' , 'four' ))
my_set1

{'four', 'one', 'three', 'two'}

## Loop through a Set

In [324]:
myset = { 'one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' } 
for i in myset : 
    print ( i )

five
four
eight
six
seven
two
three
one

In [325]:
for i in enumerate ( myset ): print ( i )

(0, 'five')
(1, 'four')
(2, 'eight')
(3, 'six')
(4, 'seven')
(5, 'two')
(6, 'three')
(7, 'one')

#### Set Membership

In [327]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [328]:
'one' in myset # Check if 'one' exist in the set

True

In [329]:
'ten' in myset # Check if 'ten' exist in the set

False

In [330]:
if 'three' in myset: # Check if 'three' exist in the set 
    print ( 'Three is present in the set' )
else:
    print ( 'Three is not present in the set' )

Three is present in the set

In [331]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [336]:
myset.add('NINE') # Add item to a set using add() method myset

In [337]:
myset.update([ 'TEN' , 'ELEVEN' , 'TWELVE' ]) # Add multiple item to a set using u myset

In [338]:
myset.remove('NINE') # remove item in a set using remove() method myset

In [340]:
myset.discard ('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [342]:
myset.clear() # Delete all items in a set
myset

set()

In [344]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

In [345]:
# Copy Set

In [347]:
myset = { 'one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' }
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [350]:
myset1 = myset # Create a new reference "myset1"
myset1

id(myset),id(myset1)

(2049679884072, 2049679884072)

In [355]:
my_set = myset.copy () # Create a copy of the list my_set

In [356]:
id(my_set) # The address of my_set will be different from myset because my_set i

2049680910824

In [360]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [358]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [359]:
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

## Set Operation

#### Union

In [361]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }
C = { 8 , 9 , 10 }

In [362]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [363]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [364]:
A.union(B,C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [365]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Intersection

In [367]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }
A & B

{4, 5}

In [368]:
A.intersection(B) # Intersection of A and B

{4, 5}

In [369]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

### Difference

In [371]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }

In [373]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [374]:
A.difference(B) # Difference of sets

{1, 2, 3}