<a href="https://colab.research.google.com/github/sivacit/my-spark-notes/blob/main/Python/python-basics-notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [2]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

## Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiateone entity from another.

In [ ]:
var = 10 # Identifier can't start with a digit
al2 = 35 # Identifier can't use special symbols
import = 125 # Keywords can't be used as identifiers
val2 = 10
val_ = 99

SyntaxError: invalid syntax (<ipython-input-13-ea83e3cd3d60>, line 3)

## Comments in Python

In [ ]:
# Single line comment
val1 = 10

In [ ]:
# Multiple
# line
# comment
val1 = 10

In [ ]:
'''
Multiple
line
comment
'''
val1 = 10

## Statements
Instructions that a Python interpreter can execute.

In [ ]:
# Single line statement
p1 = 10 + 20
p1

30

In [ ]:
# Single line statement
p2 = ['a','b','c','d']
p2

['a', 'b', 'c', 'd']

In [ ]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 + \
+ 70 + 80
p1

290

In [ ]:
# Multiple line statement
p2 = [
    'a',
    'b',
    'c',
    'd']
p2

['a', 'b', 'c', 'd']

### Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.If the indentation is not correct we will endup with IndentationError error

In [ ]:
p = 10
if p == 10:
    print('P is equal to 10') # correct indentation

P is equal to 10

In [ ]:
# if indentation is skipped we will encounter "IndentationError: expected an inde
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block (<ipython-input-6-2bef330feb24>, line 4)

In [ ]:
for i in range(0, 5):
    print(i) # correct indentation

0
1
2
3
4

In [ ]:
# if indentation is skipped we will encounter "IndentationError: expected an index
for i in range (0,5):
print(i)

IndentationError: expected an indented block (<ipython-input-10-ae5432fb136b>, line 3)

In [ ]:
for i in range(0,5): print(i) # correct indentation but less readable

0
1
2
3
4

In [ ]:
j = 20
for i in range(0,5):
    print(i)
    # inside the for loop
print(j)
# outside the for loop

0
1
2
3
4
20

### Docstrings
    1. Docstrings provide a convenient way of associating documentation with functions, classes,methods or modules.
    2. They appear right after the definition of a function, method, class, or module.

In [ ]:
def square (num):
    '''Square Function :- This function will return the square of a number'''
    return num **2
square(2)

4

In [ ]:
square.__doc__

'Square Function :- This function will return the square of a number'

In [ ]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [ ]:
evenodd(3)

Odd Number

In [ ]:
evenodd(2)

Even Number

In [ ]:
evenodd.__doc__

'evenodd Function :- This function will test whether a numbr is Even or Odd'

### Variables
    1.A Python variable is a reserved memory location to store values.A variable is created the momentyou first assign a value to it.

In [ ]:
p = 30

In [ ]:
'''
id() function returns the “identity” of the object. The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

140736709358448

In [ ]:
hex(id(p)) # Memory address of the variable

'0x7fffd19174b0'

In [ ]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to point
print(id(p))
q = 20 # Create new reference q which will point to value 20. p & q will be point
print(id(q))
r = q # variable r will also point to the same location where p & q are pointing
print(id(q))
w = 21
print(id(w)) # w will referss the 21 location, which is printed. it will be different from p,q and r

p, type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

140736709358448
140736709358448
140736709358448
140736709358480

(20, int, '0x7fffd1917370')

In [ ]:
p = 20
p = p + 10
p

30

### Variable Assigment

In [ ]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar) 
print(strvar)

10
2.57
Python Language

#### Multiple Assignments

In [ ]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"

# Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [ ]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1, p2, p3, p4)

44 44 44 44

## Data Types

#### Numeric

In [ ]:
import sys
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1," is Integer?", isinstance (val1, int)) # val1 is an instance of int class

10
<class 'int'>
28
10  is Integer? True

In [ ]:
import sys
val2 = 97.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of integer object in bytes
print(val2," is float?", isinstance (val2, float)) # val1 is an instance of int class

97.78
<class 'float'>
24
97.78  is float? True

In [ ]:
import sys
val3 = 925 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of integer object in bytes
print(val3," is complex?", isinstance (val3, complex)) # val1 is an instance of int class

(925+10j)
<class 'complex'>
32
(925+10j)  is complex? True

In [ ]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [ ]:
sys.getsizeof(float()) # size of float object in bytes

24

In [ ]:
sys.getsizeof(complex()) # size of complex object in bytes

32

#### Boolean

In [ ]:
bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))
print("Instance of bool: ", isinstance(bool1, bool))

<class 'bool'>
<class 'bool'>
Instance of bool:  True

In [ ]:
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

False
True
False
False

### String

In [ ]:
# String Creation
str1 = "Hello Python"
print(str1)

mystr = 'Hello World' # Define string using single quotes
print(mystr)

mystr = "Hello Double quotes" # Define string using single quotes
print(mystr)

Hello Python
Hello World
Hello Double quotes

In [ ]:
mystr = '''Hello 
multi
line 
string
''' # Define string using single quotes
print(mystr)

Hello
multi
line
string

In [ ]:
mystr = """Hello 
multi
line 
string
""" # Define string using using triple quotes
print(mystr)

Hello
multi
line
string

## Multiply string

In [ ]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5 
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [ ]:
len(mystr2)

35

### String Indexing

In [ ]:
len(mystr2)

35

In [ ]:
str1

'Hello Python'

In [ ]:
str1[0] # First character in string "str1"

'H'

In [ ]:
print(str1[len(str1) - 1]) # Last character in string using len function
print(str1[-1]) # Last character in string

n
n

In [ ]:
str1[6] #Fetch 7th element of the string

'P'

In [ ]:
print(str1[5])

### String Slicing

In [ ]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excluding other elements

'Hello'

In [ ]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc excluding other elements

'Python'

In [ ]:
str1[-4:] # Retreive last four characters of the string

'o Python'

In [ ]:
str1[-6:] # Retreive last six characters of the string

'Python'

In [ ]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [ ]:
str1[:6] # Retreive first six characters of the string

'Hello '

In [ ]:
str1

'Hello Python'

### Update & Delete String

In [ ]:
#Strings are immutable which means elements of a string cannot be changed once the value
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [ ]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

### String concatenation

In [ ]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

In [ ]:
s1 = "Hello"
s2 = "Asif"
s3 =  s1 + " " + s2
print(s3)

Hello Asif

### Iterating through a String

In [ ]:
mystr1 = "Hello Everyone"
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [ ]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [ ]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and return

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

#### String Membership

In [ ]:
# String membership
mystr1 = "Hello Everyone"

print('Hello' in mystr1) # Check whether substring "Hello" is present in string
print('Everyone' in mystr1) # Check whether substring "Everyone" is present in string "mystr1"
print('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystr1"

True
True
False

### String Partitioning

In [ ]:
"""
The partition() method searches for a specified string and splits the string into

- The first element contains the part before the argument string.

- The second element contains the argument string.

- The third element contains the part after the argument string.

"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L[0])
print(L[1])
print(L[2])

Natural language processing with Python
and
 R and Java

In [ ]:
"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions

In [ ]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [ ]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [ ]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [ ]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [ ]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [ ]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [ ]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [ ]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [ ]:
mystr2 = " Hello Everyone "

In [ ]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [ ]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [ ]:
mystr2.replace("He","Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [ ]:
mystr2.replace(" ","") # Remove all whitespaces using replace function

'HelloEveryone'

In [ ]:
mystr5 = "one two Three one two two three"

In [ ]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [ ]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [ ]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [ ]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [ ]:
mystr4 = "one two three four one two two three five five six seven six seven one one, one, ten, eight, ten, nine, eleven, ten, ten, nine"

In [ ]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one,',
 'one,',
 'ten,',
 'eight,',
 'ten,',
 'nine,',
 'eleven,',
 'ten,',
 'ten,',
 'nine']

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77 
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1, item2, item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [ ]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77 
res = "Cost of item3 , item2 and item1 are {2}, {1} and {0}"
print(res.format(item1, item2, item3))

Cost of item3 , item2 and item1 are 77, 55 and 40

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)
# center align the string using a specific character as t
print(str2)

                                          WELCOME EVERYONE

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the
print(str2)

                                 WELCOME EVERYONE

In [ ]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*
print(str2)

******************************** WELCOME EVERYONE

In [ ]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [ ]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [ ]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or numbers
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [ ]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [ ]:
mystr6 = 'abc12309'
print(mystr6.isalpha())
# returns True if all the characters in the text are lett
print(mystr6.isalnum())
# returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric ()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [ ]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())   # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [ ]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [ ]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [ ]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [ ]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [ ]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [ ]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### Using Escape Character

In [ ]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones ""

SyntaxError: invalid syntax (<ipython-input-131-4dd51e12dc57>, line 2)

In [ ]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

## List
1. List is an ordered sequence of items.
2. We can have different data types under a list. E.g we can have integer, float and string items ina same list.

### List Creation

In [ ]:
list1 = [] # Empty List
print(list1)
print(type(list1))

[]
<class 'list'>

In [ ]:
list2 = [10, 30, 60] # List of integers numbers

In [ ]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [ ]:
list4 = ['one','two',"three"] # List of strings

In [ ]:
list5 = ['Asif',25,[50,100],[150,90]] # Nested Lists

In [ ]:
list6 =[100,'Asif',17.765] # List of mixed data types

In [ ]:
list7 = ['Asif',25,[50,100],[150,90] , {'John','David'}]

In [ ]:
len(list6)

3

In [ ]:
list2[0] # Retreive first element of the list

10

In [ ]:
list4[0] # Retreive first element of the list

'one'

In [ ]:
list4[0][0] # Nested indexing - Access the first character of the first list element.

'o'

In [ ]:
list4[-1] # Last item of the list

'three'

In [ ]:
list5[-1] # Last item of the list

[150, 90]

### List Slicing

In [ ]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [ ]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the items not in the range.

['one', 'two', 'three']

In [ ]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at

['three', 'four', 'five']

In [ ]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [ ]:
mylist[:2] # Return first two items

['one', 'two']

In [ ]:
mylist[-3:]# Return last three items

['six', 'seven', 'eight']

In [ ]:
mylist[-2:]# Return last two items

['seven', 'eight']

In [ ]:
mylist[-1]# Return last item of the list

'eight'

In [ ]:
mylist[:]# Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### Add , Remove & Change Items

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'nine']

In [ ]:
mylist.insert(9,'ten') # Add item at index location 9, element at the 9th position will be moved to 10th position.
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten',
 'nine']

In [ ]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten',
 'nine']

In [ ]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten',
 'nine']

In [ ]:
mylist.pop() # Remove last item of the list
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'ten']

In [ ]:
mylist.pop(8)# Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'ten', 'ten']

In [ ]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'ten', 'ten']

In [ ]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven', 'ten', 'ten']

In [ ]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [ ]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

### Copy List

In [ ]:
mylist = ['one','two','three','four','five','six','seven','eight','nine','ten']
mylist1 = mylist # Create a new reference "mylist1"
id(mylist),id(mylist1) # The address of both mylist & mylist1 will be the same

(2049680679688, 2049680679688)

In [ ]:
mylist2 = mylist.copy() # Create a copy of the list

In [ ]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2049680681352

In [ ]:
mylist[0] = 1 
mylist
mylist1 # mylist1 will be also impacted as it is pointing to the same list

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [ ]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join List

In [ ]:
list1 = ['one','two','three','four']
list2 = ['five','six','seven','eight']
list3 = list1 + list2 # Join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.extend(list2) #Append list2 with list1 
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

### List Membership

In [ ]:
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
'one' in list1

True

In [ ]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [ ]:
if 'three' in list1 : # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [ ]:
if'eleven' in list1: # Check if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

In [ ]:
### Reverse & Sort List

In [ ]:
list1

In [ ]:
list1 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']
list1.reverse() # Reverse the list
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
list1 = list1[::-1] # Reverse the list 
list1

['eight', 'seven', 'six', 'five', 'four', 'three', 'two', 'one']

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse = True) # Sort list in descending order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
mylist4 = [88,65,33,21,11,98] 
sorted(mylist4)
# Returns a new sorted list and doesn't change original li

[11, 21, 33, 65, 88, 98]

#### Loop through a list

In [ ]:
for i in list1:
    print(i)

eight
seven
six
five
four
three
two
one

In [ ]:
for i in enumerate(list1):
    print(i)

(0, 'eight')
(1, 'seven')
(2, 'six')
(3, 'five')
(4, 'four')
(5, 'three')
(6, 'two')
(7, 'one')

In [ ]:
list10 = [ 'one' , 'two' , 'three' , 'four' , 'one' , 'one' , 'two' , 'three' ]

In [ ]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [ ]:
list10.count('two') # Occurence of item 'two' in the list

2

In [ ]:
list10.count ( 'four' ) #Occurence of item 'four' in the list

1

# All / Any
The all() method returns:
1. True
    - If all elements in a list are true
2. False
    - If any element in a list is false

The any() function returns True if any element in the list is True. If not, any() returns False.

In [ ]:
L1 = [ 1 , 2 , 3 , 4 , 0 ]

In [ ]:
all (L1) # Will Return false as one value is false (Value 0)

False

In [ ]:
any(L1) # Will Return True as we have items in the list with True value

True

In [ ]:
L2 = [ 1 , 2 , 3 , 4 , True , False ]

In [ ]:
all(L2)

False

In [ ]:
any ( L2 ) # Will Return True as we have items in the list with True value

True

In [ ]:
L3 = [ 1 , 2 , 3 , True ]

In [ ]:
all(L3) # Will return True as all items in the list are True

True

In [ ]:
any(L3) # Will Return True as we have items in the list with True value

True

# List Comprehensions
- List Comprehensions provide an elegant way to create new lists.
- It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses.

In [ ]:
mystring = "WELCOME"
mylist = [ i for i in mystring ] # Iterating through a string Using List Comprehe 
mylist

['W', 'E', 'L', 'C', 'O', 'M', 'E']

In [ ]:
mylist1 = [ i for i in range ( 40 ) if i % 2 == 0 ] # Display all even numbers betwee 
mylist1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [ ]:
mylist2 = [ i for i in range ( 40 ) if i % 2 == 1 ] # Display all odd numbers between
mylist2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [ ]:
mylist3 = [ num ** 2 for num in range ( 10 )] # calculate square of all numbers between
mylist3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# Multiple whole list by 10
list1 = [ 2 , 3 , 4 , 5 , 6 , 7 , 8 ]
list1 = [ i * 10 for i in list1 ]
list1

[20, 30, 40, 50, 60, 70, 80]

In [ ]:
#List all numbers divisible by 3 , 9 & 12 using nested "if" with List Comprehensi 
mylist4 = [ i for i in range ( 200 ) if i % 3 == 0 if i % 9 == 0 if i % 12 == 0 ] 
mylist4

[0, 36, 72, 108, 144, 180]

In [ ]:
# Odd even test
l1 = [ print ("{} is Even Number".format ( i )) if i % 2 == 0 else print ("{} is odd number".format(i)) for i in range(10)]

0 is Even Number
1 is odd number
2 is Even Number
3 is odd number
4 is Even Number
5 is odd number
6 is Even Number
7 is odd number
8 is Even Number
9 is odd number

In [ ]:
# Extract numbers from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [ i for i in mystr if i.isdigit()]
numbers

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
# Extract letters from a string
mystr = "One 1 two 2 three 3 four 4 five 5 six 6789"
numbers = [i for i in mystr if i.isalpha()]
numbers

['O',
 'n',
 'e',
 't',
 'w',
 'o',
 't',
 'h',
 'r',
 'e',
 'e',
 'f',
 'o',
 'u',
 'r',
 'f',
 'i',
 'v',
 'e',
 's',
 'i',
 'x']

## Tuples

1. Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple  once assigned.
2. When we do not want to change the data over time, tuple is a preferred data type.
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

#### Tuple Creation

In [ ]:
tup1 = () # Empty tuple

In [ ]:
tup2 = (10,30,60) # tuple of integers numbers

In [ ]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers

In [ ]:
tup4 = ('one','two',"three") # tuple of strings

In [ ]:
tup5 = ('Asif',25,(50,100),(150,90)) # Nested tuples

In [ ]:
tup6 = (100,'Asif',17.765) # Tuple of mixed data types

In [ ]:
tup7 = ( 'Asif' , 25 ,[ 50 , 100 ],[ 150 , 90 ] , { 'John' , 'David' } , ( 99 , 22 , 33 ))

In [ ]:
len ( tup7 ) #Length of list

6

### Tuple Indexing

In [ ]:
tup2 [ 0 ] # Retreive first element of the tuple

10

In [ ]:
tup4 [ 0 ] # Retreive first element of the tuple

'one'

In [ ]:
tup4[0][0] # Nested indexing - Access the first character of the first tuple elem

'o'

In [ ]:
tup4 [-1] # Last item of the tuple

'three'

In [ ]:
tup5[-1] # Last item of the tuple

(150, 90)

### Tuple Slicing

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' )

In [ ]:
mytuple[0:3] # Return all items from 0th to 3rd index location excluding the item

('one', 'two', 'three')

In [ ]:
mytuple [ 2 : 5 ] # List all items from 2nd to 5th index location excluding the item a

('three', 'four', 'five')

In [ ]:
mytuple [: 3 ] # Return first three items

('one', 'two', 'three')

In [ ]:
mytuple [:2] # Return first two items

('one', 'two')

In [ ]:
mytuple [ -3:] # Return last three items

('six', 'seven', 'eight')

In [ ]:
mytuple [-2:] # Return last two items

('seven', 'eight')

In [ ]:
mytuple[- 1] # Return last item of the tuple

'eight'

In [ ]:
mytuple[:] # Return whole tuple

#### Remove & Change Items

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
del mytuple[0] # Tuples are immutable which means we can't DELETE tuple items

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple[0] = 1 # Tuples are immutable which means we can't CHANGE tuple items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple # Deleting entire tuple object is possible

## Loop through a tuple

In [ ]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' )
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
for i in mytuple : 
    print ( i )

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
    print ( i )

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [ ]:
mytuple1 = ( 'one' , 'two' , 'three' , 'four' , 'one' , 'one' , 'two' , 'three' )

In [ ]:
mytuple1.count('one') # Number of times item "one" occurred in the tuple.

3

In [ ]:
mytuple1.count('two') # Occurence of item 'two' in the tuple

2

In [ ]:
mytuple1.count('four') #Occurence of item 'four' in the tuple

1

### Tuple Membership

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
'one' in mytuple # Check if 'one' exist in the list

True

In [ ]:
'ten' in mytuple # Check if 'ten' exist in the list

False

In [ ]:
if 'three' in mytuple: # Check if 'three' exist in the list  
    print ( 'Three is present in the tuple' ) 
else:
    print ( 'Three is not present in the tuple' )

Three is present in the tuple

In [ ]:
if 'eleven' in mytuple: # Check if 'eleven' exist in the list 
    print ( 'eleven is present in the tuple' )
else:
    print ( 'eleven is not present in the tuple' )

eleven is not present in the tuple

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [ ]:
mytuple.index('five') # Index of first element equal to 'five'
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [ ]:
mytuple1.index('one')  # Index of first element equal to 'one'

0

### Sorting

In [ ]:
mytuple2 = ( 43 , 67 , 99 , 12 , 6 , 90 , 67 )

In [ ]:
sorted(mytuple2) # Returns a new sorted list and doesn't change original tuple

[6, 12, 43, 67, 67, 90, 99]

In [ ]:
sorted(mytuple2 , reverse = True ) # Sort in descending order

[99, 90, 67, 67, 43, 12, 6]

# Sets
1. Unordered & Unindexed collection of items.
2. Set elements are unique. Duplicate elements are not allowed.
3. Set elements are immutable (cannot be changed).
4. Set itself is mutable. We can add or remove items from it.

### Set Creation

In [ ]:
myset = { 1 , 2 , 3 , 4 , 5 } # Set of numbers myset

In [ ]:
len(myset) #Length of the set

5

In [ ]:
my_set = { 1 , 1 , 2 , 2 , 3 , 4 , 5 , 5 }
my_set

{1, 2, 3, 4, 5}

In [ ]:
myset1 = { 1.79 , 2.08 , 3.99 , 4.56 , 5.45 } # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [ ]:
myset2 = { 'Asif' , 'John' , 'Tyrion' } # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [ ]:
myset3 = { 10 , 20 , "Hola" , ( 11 , 22 , 32 )} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [ ]:
myset3 = { 10 , 20 , "Hola" , [ 11 , 22 , 32 ]} # set doesn't allow mutable items like lis myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4 = set () # Create an empty set print ( type ( myset4 ))

In [ ]:
my_set1 = set (( 'one' , 'two' , 'three' , 'four' ))
my_set1

{'four', 'one', 'three', 'two'}

## Loop through a Set

In [ ]:
myset = { 'one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' } 
for i in myset : 
    print ( i )

five
four
eight
six
seven
two
three
one

In [ ]:
for i in enumerate ( myset ): print ( i )

(0, 'five')
(1, 'four')
(2, 'eight')
(3, 'six')
(4, 'seven')
(5, 'two')
(6, 'three')
(7, 'one')

#### Set Membership

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
'one' in myset # Check if 'one' exist in the set

True

In [ ]:
'ten' in myset # Check if 'ten' exist in the set

False

In [ ]:
if 'three' in myset: # Check if 'three' exist in the set 
    print ( 'Three is present in the set' )
else:
    print ( 'Three is not present in the set' )

Three is present in the set

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.add('NINE') # Add item to a set using add() method myset

In [ ]:
myset.update([ 'TEN' , 'ELEVEN' , 'TWELVE' ]) # Add multiple item to a set using u myset

In [ ]:
myset.remove('NINE') # remove item in a set using remove() method myset

In [ ]:
myset.discard ('TEN') # remove item from a set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.clear() # Delete all items in a set
myset

set()

In [ ]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

In [ ]:
# Copy Set

In [ ]:
myset = { 'one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight' }
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 = myset # Create a new reference "myset1"
myset1

id(myset),id(myset1)

(2049679884072, 2049679884072)

In [ ]:
my_set = myset.copy () # Create a copy of the list my_set

In [ ]:
id(my_set) # The address of my_set will be different from myset because my_set i

2049680910824

In [ ]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

## Set Operation

#### Union

In [ ]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }
C = { 8 , 9 , 10 }

In [ ]:
A | B # Union of A and B (All elements from both sets. NO DUPLICATES)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
A.union(B,C) # Union of A, B and C.

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
"""
Updates the set calling the update() method with union of A , B & C.
For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Intersection

In [ ]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }
A & B

{4, 5}

In [ ]:
A.intersection(B) # Intersection of A and B

{4, 5}

In [ ]:
"""
Updates the set calling the intersection_update() method with the intersection of
For below example Set A will be updated with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5}

### Difference

In [ ]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }

In [ ]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [ ]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [ ]:
B - A # set of elements that are only in B but not in A

{6, 7, 8}

In [ ]:
B.difference(A)

{6, 7, 8}

In [ ]:
"""
Updates the set calling the difference_update() method with the difference of set
For below example Set B will be updated with the difference of B & A.
"""
B.difference_update(A)
B

{6, 7, 8}

In [ ]:
# Symmetric Difference

In [ ]:
A = { 1 , 2 , 3 , 4 , 5 }
B = { 4 , 5 , 6 , 7 , 8 }

In [ ]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both. "EXCLUDED THE COMMON FIELDS"

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [ ]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetr
For below example Set A will be updated with the symmetric difference of A & B.
"""
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

## Subset , Superset & Disjoint

In [ ]:

A = { 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 }
B = { 3 , 4 , 5 , 6 , 7 , 8 }
C = { 10 , 20 , 30 , 40 }

In [ ]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are

True

In [ ]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B

True

In [ ]:
C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements of C

True

In [ ]:
B.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common elements

False

## Other Builtin functions

In [ ]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
sum(A)

45

In [ ]:
max(A)

9

In [ ]:
min(A)

1

In [ ]:
len(A)

9

In [ ]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [ ]:
D = sorted(A, reverse = True )
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Dictionary
1. Dictionary is a mutable data type in Python.
2. A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosedin curly braces {}.
3. Keys must be unique in a dictionary, duplicate values are allowed.

In [ ]:
mydict = dict()
mydict

{}

In [ ]:
mydict = {}
mydict

{}

In [ ]:
mydict = { 1 : 'one' , 2 : 'two' , 3 : 'three' } # dictionary with integer keys 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
mydict = dict ({ 1 : 'one' , 2 : 'two' , 3 : 'three' }) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
mydict = { 'A' : 'one' , 'B' : 'two' , 'C' : 'three' } # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [ ]:
mydict = { 1 : 'one' , 'A' : 'two' , 3 : 'three' } # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [ ]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [ ]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [ ]:
mydict.items()

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [ ]:
mydict = { 1 : 'one' , 2 : 'two' , 'A' :[ 'asif' , 'john' , 'Maria' ]} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [ ]:
mydict = { 1 : 'one' , 2 : 'two' , 'A' :[ 'asif' , 'john' , 'Maria' ], 'B':( 'Bat' , 'cat', 'hat')}
mydict

{1: 'one',
 2: 'two',
 'A': ['asif', 'john', 'Maria'],
 'B': ('Bat', 'cat', 'hat')}

In [ ]:
keys = { 'a' , 'b' , 'c' , 'd' }
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'b': None, 'a': None, 'd': None, 'c': None}

In [ ]:
keys = { 'a' , 'b' , 'c' , 'd' }
value = 10
mydict3 = dict.fromkeys(keys , value ) # Create a dictionary from a sequence of k 
mydict3

{'b': 10, 'a': 10, 'd': 10, 'c': 10}

In [ ]:
keys = { 'a' , 'b' , 'c' , 'd' }
value = [ 10 , 20 , 30 ] 
mydict3 = dict.fromkeys(keys,value ) # Create a dictionary from a sequence of k
mydict3

{'b': [10, 20, 30], 'a': [10, 20, 30], 'd': [10, 20, 30], 'c': [10, 20, 30]}

In [ ]:
value.append(40)
mydict3

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'd': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

### Accessing Items

In [ ]:
mydict = { 1 : 'one' , 2 : 'two' , 3 : 'three' , 4 : 'four' }
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
mydict[1] # Access item using key

'one'

In [ ]:
mydict.get(1) # Access item using get() method

'one'

In [ ]:
mydict1 = {'Name' : 'Asif', 'ID' : 74123, 'DOB' : 1991, 'job' : 'Analyst' }
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [ ]:
mydict1['Name'] # Access item using key

'Asif'

In [ ]:
mydict1.get('job') # Access item using get() method

'Analyst'

## Add, Remove & Change Items

In [ ]:
mydict1 = {'Name':'Asif', 'ID':12345, 'DOB' : 1991 , 'Address' : 'Hilsinki' }
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [ ]:
mydict1['DOB'] = 1992 # Changing Dictionary Items mydict1 [ 'Address' ] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Hilsinki'}

In [ ]:
dict1 = {'DOB' : 1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [ ]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [ ]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [ ]:
mydict1.popitem() # A random item is removed
mydict1

{'Name': 'Asif', 'ID': 12345}

In [ ]:
del [mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Asif'}

In [ ]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

In [ ]:
mydict = { 'Name' : 'Asif' , 'ID' : 12345 , 'DOB' : 1991 , 'Address' : 'Hilsinki' }
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [ ]:
mydict1 = mydict # Create a new reference "mydict1"

In [ ]:
id(mydict), id(mydict1) # The address of both mydict & mydict1 will be the same

(2049680780408, 2049680780408)

In [ ]:
mydict2 = mydict.copy()# Create a copy of the dictionar

In [ ]:
id(mydict2) # The address of mydict2 will be different from mydict because mydict

2049681006664

In [ ]:
mydict['Address'] = 'Mumbai'
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Mumbai'}

### Loop through a Dictionary

In [ ]:
mydict1 = { 'Name' : 'Asif' , 'ID' : 12345 , 'DOB' : 1991 , 'Address' : 'Hilsinki' , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [ ]:
for i in mydict1:
    print(i, ':', mydict1 [ i ]) # Key & value pair

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki
Job : Analyst

In [ ]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Asif
12345
1991
Hilsinki
Analyst

In [ ]:
mydict1={'Name':'Asif',
         'ID' : 12345,
         'DOB':1991,
         'Job':'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

### Dictionary Membership

In [ ]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [ ]:
'Asif' in mydict1 # Membership test can be only done for keys.

False

In [ ]:
'ID' in mydict1

True

### Dictionary Comprehension

In [ ]:
double = { i : i * 2 for i in range ( 10 )} #double each value using dict comprehension double
double

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [ ]:
square = { i : i ** 2 for i in range ( 10 )}
square

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
mydict1 = { 'a' : 10 , 'b' : 20 , 'c' : 30 , 'd' : 40 , 'e' : 50 }
mydict1 = { k : v / 10 for ( k , v ) in mydict1.items ()} # Divide all values in a dictiona
mydict1

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [ ]:
str1 = "Natural Language Processing"
mydict2 = { k : v for ( k , v ) in enumerate ( str1 )} # Store enumerated values in a dicti 
mydict2

{0: 'N',
 1: 'a',
 2: 't',
 3: 'u',
 4: 'r',
 5: 'a',
 6: 'l',
 7: ' ',
 8: 'L',
 9: 'a',
 10: 'n',
 11: 'g',
 12: 'u',
 13: 'a',
 14: 'g',
 15: 'e',
 16: ' ',
 17: 'P',
 18: 'r',
 19: 'o',
 20: 'c',
 21: 'e',
 22: 's',
 23: 's',
 24: 'i',
 25: 'n',
 26: 'g'}

In [ ]:
str1 = "abcdefghijklmnopqrstuvwxyz"
mydict3 = { i : i.upper() for i in str1 } # Lower to Upper Case
mydict3

{'a': 'A',
 'b': 'B',
 'c': 'C',
 'd': 'D',
 'e': 'E',
 'f': 'F',
 'g': 'G',
 'h': 'H',
 'i': 'I',
 'j': 'J',
 'k': 'K',
 'l': 'L',
 'm': 'M',
 'n': 'N',
 'o': 'O',
 'p': 'P',
 'q': 'Q',
 'r': 'R',
 's': 'S',
 't': 'T',
 'u': 'U',
 'v': 'V',
 'w': 'W',
 'x': 'X',
 'y': 'Y',
 'z': 'Z'}

In [ ]:
### Word Frequency using dictionary

In [ ]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one',
 'one',
 'ten',
 'eight',
 'ten',
 'nine',
 'eleven',
 'ten',
 'ten',
 'nine']

In [ ]:
mylist1 = set(mylist) # Unique values in a list
mylist1 = list(mylist1)
mylist1

['eleven',
 'five',
 'four',
 'nine',
 'eight',
 'six',
 'seven',
 'two',
 'three',
 'ten',
 'one']

### Calculate frequenct of each word

In [ ]:
count1 = [ 0 ] * len(mylist1)
mydict5 = dict() 

for i in range(len(mylist1)): 
    for j in range (len(mylist)): 
        if mylist1[i] == mylist [j]:
            count1[i] += 1
            mydict5[mylist1[i]] = count1[i]
print ( mydict5 )

{'eleven': 1, 'five': 2, 'four': 1, 'nine': 2, 'eight': 1, 'six': 2, 'seven': 2, 'two': 3, 'three': 2, 'ten': 4, 'one': 5}

# Functions
1. A function is a block of organized code written to carry out a specified task. 
2. Functions help break our program into smaller and modular chunks for better readability.
3. Information can be passed into a function as arguments.
4. Parameters are specified after the function name inside the parentheses.
5. We can add as many parameters as we want. Parameters must be separated with a comma.
6. A function may or may not return data.
7. In Python a function is defined using the def keyword

### Parameter VS Argument
1. A parameter is the variable listed inside the parentheses in the function definition.
2. An argument is the value that is sent to the function when it is called.

#### Three types of functions in Python:-
##### Built-in function :-
- Python predefined functions that are readily available for use like min() ,max() , sum() , print() etc.
##### User-Defined Functions:-
- Function that we define ourselves to perform a specific task.
##### Anonymous functions : 
- Function that is defined without a name. Anonymous functions arealso called as lambda functions. They are not declared with the def keyword.

In [ ]:
def myfunc():
    print("Hello Python Lovers")
myfunc()

Hello Python Lovers

In [ ]:
def details (name , userid , country ): # Function to print User details
    print ('Name :- ' , name ) 
    print ('User ID is :- ' , userid )
    print ('Country :- ' , country ) 
details ( 'Asif' , 'asif123' , 'India' )

Name :-  Asif
User ID is :-  asif123
Country :-  India

In [ ]:
def square ( n ): #function to find square of a number 
    n = n * n 
    return n 
square ( 10 )

100

In [ ]:
def even_odd (num): #Even odd test
    """ This function will check whether a number is even or odd"""
    if num % 2 == 0: 
        print (num, ' is even number' )
    else:
        print (num, ' is odd number' )
even_odd (3)
even_odd (4)
print ( even_odd . __doc__ ) # Print function documentation string

3  is odd number
4  is even number
 This function will check whether a number is even or odd

In [ ]:
def fullname (firstname, middlename , lastname ): #Concatenate Strings
    fullname = "{} {} {}" . format ( firstname , middlename , lastname ) 
    print ( fullname )
fullname ( 'Asif' , 'Ali' , 'Bhat' )

Asif Ali Bhat

In [ ]:
def fullname ( firstname , middlename , lastname ): #Concatenate Strings
    fullname = "{} {} {}" . format ( firstname , middlename , lastname )
    print ( fullname )

fullname (lastname = 'Bhat', middlename = 'Ali', firstname = 'Asif') # Keyword Arguments

Asif Ali Bhat

In [ ]:
fullname('Asif') # This will throw error as function is expecting 3 arguments.

TypeError: fullname() missing 2 required positional arguments: 'middlename' and 'lastname'

In [ ]:
def myfunc ( city = 'Mumbai' ): 
    print ( 'Most Populous City :- ' , city ) 
myfunc () # When a function is called without an argument it will use default valu

Most Populous City :-  Mumbai

In [ ]:
var1 = 100 # Variable with Global scope. 
def myfunc(): 
    print ( var1 ) # Value 100 will be displayed due to global scope of var1 
myfunc() 
print ( var1 )

100
100

In [ ]:
def myfunc1 (): 
    var2 = 10 # Variable with Local scope 
    print ( var2 ) 
def myfunc2 (): 
    print ( var2 ) # This will throw error because var2 has a local scope. Var2 is out of scope for myfunc2
    
myfunc1 ()
myfunc2 ()

10

NameError: name 'var2' is not defined

In [ ]:
var1 = 100 # Variable with Global scope. 
def myfunc (): 
    var1 = 99 # Local scope 
    print ( var1 )
myfunc ()
print ( var1 ) # The original value of var1 (100) will be retained due to global scope

99
100

In [ ]:
list1 = [ 11 , 22 , 33 , 44 , 55 ]
def myfunc ( list1 ): 
    del list1 [ 0 ] 
print ( '"List1" before calling the function:- ' , list1 )

myfunc ( list1 ) # Pass by reference (Any change in the parameter within the function
print ( '"List1" after calling the function:- ' , list1 )

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [22, 33, 44, 55]

In [ ]:
list1 = [ 11 , 22 , 33 , 44 , 55 ]
def myfunc ( list1 ): 
    list1 = [ 10 , 100 , 1000 , 10000 ] # link of 'list1' with previous object is broken 
print ( '"List1" before calling the function:- ' , list1 )
myfunc ( list1 ) # Pass by reference (Any change in the parameter within the functi 
print ( '"List1" after calling the function:- ' , list1 )

"List1" before calling the function:-  [11, 22, 33, 44, 55]
"List1" after calling the function:-  [11, 22, 33, 44, 55]

In [ ]:
def swap ( a , b ):
    temp = a
    a = b  # link of 'a' with previous object is broken now as new object is 
    b = temp # link of 'b' with previous object is broken now as new object is 
a = 10
b = 20     
swap (a,b)
a , b

(10, 20)

In [ ]:
 def factorial ( num ): 
        # Calculate factorial of a number using recursive function c 
        if num <= 1:
            return 1 
        else : 
            return num * factorial (num- 1)
factorial ( 4 )

24

In [ ]:
def add ( num ): 
    # Sum of first n natural numbers 
    if num == 0 : 
        return 0
    else : 
        return num + add ( num - 1 ) 
add ( 5 ) # Sum of first five natural numbers (1,2,3,4,5)

15

In [ ]:
def fiboacci(num):
    if num <= 1 : 
        return num 
    if num == 2:
        return 1 
    else : 
        return (fiboacci (num - 1 ) + fiboacci (num - 2)) 
nums = int(input( "How many fibonacci numbers you want to generate -" ))
for i in range (nums):
    print (fiboacci(i)) #Generate Fibonacci series

How many fibonacci numbers you want to generate -10
0
1
1
2
3
5
8
13
21
34

# args & kwargs
#### args
- When we are not sure about the number of arguments being passed to a function then we canuse *args as function parameter. 

- *args allow us to pass the variable number of **Non Keyword Arguments** to function.
- We can simply use an asterisk * before the parameter name to pass variable length arguments.
- The arguments are always passed as a tuple.
- We can rename it to anything as long as it is preceded by a single asterisk (*). It's bestpractice to keep naming it args to make it immediately recognizable.

#### kwargs
kwargs allows us to pass the variable number of Keyword Arguments to the function.
We can simply use an double asterisk ** before the parameter name to pass variable length arguments.
The arguments are passed as a dictionary. We can rename it to anything as long as it is preceded by a double asterisk (**). It's bestpractice to keep naming it kwargs to make it immediately recognizable.

In [ ]:
def add (a, b, c): 
    return a + b + c
print(add(10, 20, 30)) # Sum of two numbers

60

In [ ]:
print(add(1,2,3, 4 )) 
'''This will throw below error as this function will only tak If we want to make argument list dynamic then *args wil come in picture'''

TypeError: add() takes 3 positional arguments but 4 were given

In [ ]:
def some_args (arg_1, arg_2, arg_3 ): 
    print ( "arg_1:" , arg_1 )
    print ( "arg_2:" , arg_2 )
    print ( "arg_3:" , arg_3 )
my_list = [ 2 , 3 ]
some_args ( 1 , * my_list )

arg_1: 1
arg_2: 2
arg_3: 3

In [ ]:
def add(* args):
    return sum(args)

print(add(1,2,3)) # *args will take dynamic argument list. So add() function w 
print(add(1,2,3,4)) 
print (add(1,2,3,4,5))
print (add(1,2,3,4,5,6))
print ( add ( 1 , 2 , 3 , 4 , 5 , 6 , 7 ))

6
10
15
21
28

In [ ]:
list1 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 ]
tuple1 = ( 1 , 2 , 3 , 4 , 5 , 6 , 7 )
add( * list1 ), add(*tuple1 ) #tuple & list items will be passed as argument list

(28, 28)

In [ ]:
list1 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 ] 
list2 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 ] 
list3 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 ]
list4 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 ]
add1 ( * list1 , * list2 , * list3 , * list4 ) #All four lists are unpacked and each in

112

In [ ]:
def UserDetails(* args):
    ''' For the above example we have no idea about the parameters passed e.g 7412 , In such cases we can take help of Keyworded arguments (**kwargs) '''
    print (args) 
UserDetails('Asif', 7412, 41102, 33, 'India', 'Hindi')

('Asif', 7412, 41102, 33, 'India', 'Hindi')

In [ ]:
def UserDetails(**kwargs):
    for key , val in kwargs . items ():
        print ( "{} :- {}" . format ( key , val ))
UserDetails(Name='Asif',ID=7412,Pincode=41102,Age=33,Country='India',Language='Tamil')

Name :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Tamil

In [ ]:
def UserDetails(**kwargs):
    print(kwargs)
UserDetails(Name='Asif',ID=7412,Pincode=41102,Age=33,Country='India',Language='Tamil')

In [ ]:
def UserDetails ( licenseNo , * args , phoneNo = 0 , ** kwargs ): # Using all four argum
    print ( 'License No :- ' , licenseNo ) 
    j = '' 
    for i in args:
        j = j + i 
    print ( 'Full Name :-' , j ) 
    print ( 'Phone Number:- ' , phoneNo )
    for key, val in kwargs.items(): 
        print ( "{} :- {}" . format ( key , val )) 

name = ['Asif', ' ','Ali', ' ','Bhat']
mydict = {'Name' : 'Asif' , 'ID' : 7412 , 'Pincode' : 41102 , 'Age' : 33 , 'Country' : 'India', 'Language': 'Tamil'}
UserDetails ( 'BHT145' , * name , phoneNo = 1234567890 , ** mydict )

License No :-  BHT145
Full Name :- Asif Ali Bhat
Phone Number:-  1234567890
Name :- Asif
ID :- 7412
Pincode :- 41102
Age :- 33
Country :- India
Language :- Tamil

In [ ]:
def UserDetails(licenseNo, *args, phoneNo=0, ** kwargs ): # Using all four argumen 
    print ( 'Nothing' )

In [ ]:
def UserDetails(licenseNo,**kwargs,*args): # This will fail. *args MUST come before **kwargs
print('Nothing')

SyntaxError: invalid syntax (<ipython-input-537-182c6aed013a>, line 1)

In [ ]:
#The below function will fail. Default argument/positional argument (licenseNo) M
def UserDetails(ID=1,licenseNo,*args):
    print('Nothing')

SyntaxError: non-default argument follows default argument (<ipython-input-541-44776f843775>, line 2)

# Lambda, Filter, Map and Reduce
### Lambda
- A lambda function is an anonymous function (function without a name).
- Lambda functions can have any number of arguments but only one expression. The expression is evaluated and returned.
- We use lambda functions when we require a nameless function for a short period of time.
    
    Syntax:-
    
### Filter
- It is used to filter the iterables/sequence as per the conditions.
- Filter function filters the original iterable and passes the items that returns True for the functionprovided to filter.
- It is normally used with Lambda functions to filter list, tuple, or sets.

### Map

- The map() function applies a given function to each item of an iterable (list, tuple etc.) and returns a list of the results.
- map() function takes two Parameters :
    - **function**
        - The function to execute for each item of given iterable.
    - **iterable**
        - It is a iterable which is to be mapped.
    - **Returns**
        - Returns a list of the results after applying the given function to each item of a giveniterable (list, tuple etc.)
        
### Reduce
The reduce() function is defined in the **functools** python module.The reduce() functionreceives two arguments, a function and an iterable. However, it doesn't return another iterable,instead it returns a single value.

- Working:
    - Apply a function to the first two items in an iterable and generate a partial result
    - The function is then called again with the result obtained in  step 1 and the next value in thesequence. This process keeps on repeating until there are items in the sequence.
    - The final returned result is returned and printed on console.

In [ ]:
addition = lambda a : a + 10 # This lambda function adds value 10 to an argument print ( addition ( 5 ))
print(addition(10))

20

In [ ]:
product = lambda a , b : a * b #This lambda function takes two arguments (a,b) and print ( product ( 5 , 6 ))
print(product(5, 6))

30

In [ ]:
addition = lambda a,b, c: a + b + c #This lambda function takes three argument print ( addition ( 5 , 6 , 2 ))
print(addition(10,20,30))

60

In [ ]:
res = (lambda *args : sum(args)) # This lambda function can take any number of arguments
print(res ( 10 , 20 ))
print(res ( 10 , 20 , 30 , 40 ))
print(res ( 10 , 20 , 30 , 40 , 50 , 60 , 70 ))

30
100
280

In [ ]:
res1 = ( lambda ** kwargs : sum ( kwargs.values ())) # This lambda function can take an 
res1 ( a = 10 , b = 20 , c = 30 ) , res1 ( a = 10 , b = 20 , c = 30 , d = 40 , e = 50 )

(60, 150)

In [ ]:
# User defined function to find product of numbers
def product ( nums ): 
    total = 1 
    for i in nums:
        total *= i
    return total 
# This lambda function can take any number of arguments and return thier product. 
res1 = ( lambda ** kwargs : product ( kwargs.values ()))
res1 ( a = 10 , b = 20 , c = 30 ) , res1 ( a = 10 , b = 20 , c = 30 , d = 40 , e = 50)

(6000, 12000000)

In [ ]:
def myfunc (n):  # method currying
    return lambda a : a + n 
add10 = myfunc ( 10 ) 
add20 = myfunc ( 20 )
add30 = myfunc ( 30 )

print ( add10 ( 5 ))
print ( add20 ( 5 ))
print ( add30 ( 5 ))

15
25
35

In [ ]:
list1 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ]
def odd ( n ): 
    if n % 2 == 1 : 
        return True 
    else : 
        return False 
odd_num = list (filter (odd, list1)) # This Filter function filters list1 and passes odd_num
odd_num

[1, 3, 5, 7, 9]

In [ ]:
list1 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ]
# The below Filter function filters "list1" and passes all odd numbers using lambda 
odd_num = list (filter(lambda n : n % 2 == 1 , list1 ))
odd_num

[1, 3, 5, 7, 9]

In [ ]:
def twice ( n ): 
    return n * 2 
doubles = list (map(twice, odd_num))  # The map function will apply user defined "tw doubles
doubles

[2, 6, 10, 14, 18]

In [ ]:
doubles = list ( map ( lambda n : n * 2 , odd_num )) # This map function will double all ite 
doubles

[2, 6, 10, 14, 18]

In [ ]:
from functools import reduce
def add (a, b): 
    return a + b 

sum_all = reduce (add, doubles ) # This reduce function will perform sum of all item sum_all
sum_all

50

In [ ]:
#The below reduce() function will perform sum of all items in the list using lambda 
doubles = [2, 6, 10, 14, 18]
sum_all = reduce (lambda a, b : a + b , doubles)
sum_all

50

In [ ]:
# Putting all together 
list1 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 ]
f = filter( lambda n : n % 2 == 1, list1)
flist = list(f)
mlist = list(map(lambda n : n * 2, flist))
print(reduce (lambda a,b : a + b, mlist))

sum_all = reduce (lambda a,b : a + b, list (map(lambda n : n * 2, list(filter( lambda n : n % 2 == 1, list1)))))
sum_all

50

50

# More examples on Map , Filter , Reduce

In [ ]:
list1 = [ 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 ]
even = list ( filter ( lambda n : n % 2 == 0 , list1 )) # Filter even numbers from the list 
odd = list ( filter ( lambda n : n % 2 != 0 , list1 )) # Filter odd numbers from the list 
print ( '--------' ) 
print ( even ) 
print ( odd ) 
print ( '--------' )
list2 = [ 'one' , 'TWO' , 'three' , 'FOUR' ]
upper = list ( filter ( lambda x : x.isupper (), list2 )) # filter uppercase strings from the list
lower = list ( filter ( lambda x : x . islower () , list2 )) # filter lowercase strings from the list
print ( upper ) 
print ( lower )
print ( '--------' )
list3 = [ 'one' , 'two2' , 'three3' , '88' , '99' , '102' ] 
numeric = list ( filter ( lambda x : x.isnumeric (), list3 ))  # filter numbers from the list
alpha = list ( filter ( lambda x : x.isalpha (), list3 )) # filter character strings 
alphanum = list ( filter ( lambda x : x.isalnum (), list3 )) # filtr numbers & character 
print ( alpha ) 
print ( numeric )
print ( alphanum )
print ( '--------' ) #Vowel Test

--------
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]
--------
['TWO', 'FOUR']
['one', 'three']
--------
['one']
['88', '99', '102']
['one', 'two2', 'three3', '88', '99', '102']
--------

In [ ]:
list1 = [ 1 , 2 , 3 , 4 ]
list2 = [ 5 , 6 , 7 , 8 ]

In [ ]:
def double ( x ): 
    return x + x 
def add ( x , y ): 
    return x + y 
def square ( x ): 
    return x * x 
print ( '---------------' )
print (list(map(double, list1)))  # Double each number using map & User defined fun 
print (list ( map ( add , list1 , list2 ))) # add two items using map & User defined fun 
print ( list ( map ( square , list1 ))) #Square numbers using map & User defined function
print('---------------')
print ( list ( map ( lambda x : x + x , list1 ))) # Double each number using map & lambda 
print ( list ( map ( lambda x , y : x + y , list1 , list2 ))) # add two items using map & lambda
print ( list ( map ( lambda x : x * x , list1 ))) #Square numbers using map & lambda 
print ( '---------------' )

---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------
[2, 4, 6, 8]
[6, 8, 10, 12]
[1, 4, 9, 16]
---------------

In [ ]:
from operator import mul,add

list2 = [ 1 , 2 , 3 , 4]
product = reduce (mul,list2) # Product of all numbers in a list, Without using lambda:
add = reduce (add , list2 ) # Add all numbers in the list 
# concat_str = reduce (add, ["Python", " ", "Rocks"]) # Concatenate string
prod = reduce (mul, ['Hello',3]) #Repeat a string multiple times 
min_num = reduce ( lambda a , b : a if a < b else b , list2 ) # Minimum number in the l 
max_num = reduce ( lambda a , b : a if a > b else b , list2 ) # Maximum number in the l 
print ( product )
print ( add )
# print ( concat_str )
print ( prod )
print ( min_num )
print ( max_num )

24
10
HelloHelloHello
1
4

In [ ]:
def min_func ( a , b ): 
    return a if a < b else b 
def max_func ( a , b ): 
    return a if a > b else b 
min_num = reduce ( min_func , list2 ) # Minimum number in the list using reduce () & 
max_num = reduce ( max_func , list2 ) # Maximum number in the list using reduce () & 
min_num , max_num

(1, 4)

In [ ]:
print ( '------' ) 
print ( reduce ( lambda a , b : bool ( a and b ), [ 0 , 0 , 1 , 0 , 0 ])) # Returns True if all 
print ( reduce ( lambda a , b : bool ( a and b ), [ 2 , 3 , 1 , 5 , 6 ])) # Returns True if all 
print ( reduce ( lambda a , b : bool ( a and b ), [ 8 , 9 , 1 , 0 , 9 ])) # Returns True if all 
print ( '------' ) 
print ( reduce ( lambda a , b : bool ( a or b ), [ 0 , 0 , 0 , 0 , 0 ])) # Returns True if any 
print ( reduce ( lambda a , b : bool ( a or b ), [ 2 , 3 , 1 , 5 , 6 ])) # Returns True if any 
print ( reduce ( lambda a , b : bool ( a or b ), [ 8 , 9 , 1 , 0 , 9 ])) # Returns True if any 
print ( '------' )

------
False
True
False
------
False
True
True
------