In [4]:
import sys
import keyword
import operator
from datetime import datetime
import os

In [6]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
len(keyword.kwlist)

35

## Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiateone entity from another.

In [13]:
var = 10 # Identifier can't start with a digit
al2 = 35 # Identifier can't use special symbols
import = 125 # Keywords can't be used as identifiers
val2 = 10
val_ = 99

SyntaxError: invalid syntax (<ipython-input-13-ea83e3cd3d60>, line 3)

## Comments in Python

In [14]:
# Single line comment
val1 = 10

In [15]:
# Multiple
# line
# comment
val1 = 10

In [16]:
'''
Multiple
line
comment
'''
val1 = 10

## Statements
Instructions that a Python interpreter can execute.

In [17]:
# Single line statement
p1 = 10 + 20
p1

30

In [18]:
# Single line statement
p2 = ['a','b','c','d']
p2

['a', 'b', 'c', 'd']

In [1]:
# Multiple line statement
p1 = 20 + 30 \
+ 40 + 50 + \
+ 70 + 80
p1

290

In [2]:
# Multiple line statement
p2 = [
    'a',
    'b',
    'c',
    'd']
p2

['a', 'b', 'c', 'd']

### Indentation

Indentation refers to the spaces at the beginning of a code line. It is very important as Python uses indentation to indicate a block of code.If the indentation is not correct we will endup with IndentationError error

In [4]:
p = 10
if p == 10:
    print('P is equal to 10') # correct indentation

P is equal to 10

In [6]:
# if indentation is skipped we will encounter "IndentationError: expected an inde
p = 10
if p == 10:
print('P is equal to 10')

IndentationError: expected an indented block (<ipython-input-6-2bef330feb24>, line 4)

In [8]:
for i in range(0, 5):
    print(i) # correct indentation

0
1
2
3
4

In [10]:
# if indentation is skipped we will encounter "IndentationError: expected an index
for i in range (0,5):
print(i)

IndentationError: expected an indented block (<ipython-input-10-ae5432fb136b>, line 3)

In [12]:
for i in range(0,5): print(i) # correct indentation but less readable

0
1
2
3
4

In [14]:
j = 20
for i in range(0,5):
    print(i)
    # inside the for loop
print(j)
# outside the for loop

0
1
2
3
4
20

### Docstrings
    1. Docstrings provide a convenient way of associating documentation with functions, classes,methods or modules.
    2. They appear right after the definition of a function, method, class, or module.

In [17]:
def square (num):
    '''Square Function :- This function will return the square of a number'''
    return num **2
square(2)

4

In [18]:
square.__doc__

'Square Function :- This function will return the square of a number'

In [20]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a numbr is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [21]:
evenodd(3)

Odd Number

In [22]:
evenodd(2)

Even Number

In [23]:
evenodd.__doc__

'evenodd Function :- This function will test whether a numbr is Even or Odd'

### Variables
    1.A Python variable is a reserved memory location to store values.A variable is created the momentyou first assign a value to it.

In [24]:
p = 30

In [30]:
'''
id() function returns the “identity” of the object. The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

140736709358448

In [28]:
hex(id(p)) # Memory address of the variable

'0x7fffd19174b0'

In [35]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to point
print(id(p))
q = 20 # Create new reference q which will point to value 20. p & q will be point
print(id(q))
r = q # variable r will also point to the same location where p & q are pointing
print(id(q))
w = 21
print(id(w)) # w will referss the 21 location, which is printed. it will be different from p,q and r

p, type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

140736709358448
140736709358448
140736709358448
140736709358480

(20, int, '0x7fffd1917370')

In [37]:
p = 20
p = p + 10
p

30

### Variable Assigment

In [38]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable
print(intvar)
print(floatvar) 
print(strvar)

10
2.57
Python Language

#### Multiple Assignments

In [2]:
intvar, floatvar, strvar = 10, 2.57, "Python Language"

# Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [3]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1, p2, p3, p4)

44 44 44 44

## Data Types

#### Numeric

In [5]:
import sys
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1," is Integer?", isinstance (val1, int)) # val1 is an instance of int class

10
<class 'int'>
28
10  is Integer? True

In [6]:
import sys
val2 = 97.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of integer object in bytes
print(val2," is float?", isinstance (val2, float)) # val1 is an instance of int class

97.78
<class 'float'>
24
97.78  is float? True

In [9]:
import sys
val3 = 925 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of integer object in bytes
print(val3," is complex?", isinstance (val3, complex)) # val1 is an instance of int class

(925+10j)
<class 'complex'>
32
(925+10j)  is complex? True

In [11]:
sys.getsizeof(int()) # size of integer object in bytes

24

In [12]:
sys.getsizeof(float()) # size of float object in bytes

24

In [13]:
sys.getsizeof(complex()) # size of complex object in bytes

32

#### Boolean

In [18]:
bool1 = True
bool2 = False
print(type(bool1))
print(type(bool2))
print("Instance of bool: ", isinstance(bool1, bool))

<class 'bool'>
<class 'bool'>
Instance of bool:  True

In [23]:
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

False
True
False
False

### String

In [31]:
# String Creation
str1 = "Hello Python"
print(str1)

mystr = 'Hello World' # Define string using single quotes
print(mystr)

mystr = "Hello Double quotes" # Define string using single quotes
print(mystr)

Hello Python
Hello World
Hello Double quotes

In [29]:
mystr = '''Hello 
multi
line 
string
''' # Define string using single quotes
print(mystr)

Hello
multi
line
string

In [32]:
mystr = """Hello 
multi
line 
string
""" # Define string using using triple quotes
print(mystr)

Hello
multi
line
string

## Multiply string

In [33]:
mystr2 = 'Woohoo '
mystr2 = mystr2 * 5 
mystr2

'Woohoo Woohoo Woohoo Woohoo Woohoo '

In [34]:
len(mystr2)

35

### String Indexing

In [39]:
len(mystr2)

35

In [40]:
str1

'Hello Python'

In [41]:
str1[0] # First character in string "str1"

'H'

In [45]:
print(str1[len(str1) - 1]) # Last character in string using len function
print(str1[-1]) # Last character in string

n
n

In [46]:
str1[6] #Fetch 7th element of the string

'P'

In [48]:
print(str1[5])

### String Slicing

In [50]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excluding other elements

'Hello'

In [53]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc excluding other elements

'Python'

In [58]:
str1[-4:] # Retreive last four characters of the string

'o Python'

In [59]:
str1[-6:] # Retreive last six characters of the string

'Python'

In [60]:
str1[:4] # Retreive first four characters of the string

'Hell'

In [61]:
str1[:6] # Retreive first six characters of the string

'Hello '

In [62]:
str1

'Hello Python'

### Update & Delete String

In [65]:
#Strings are immutable which means elements of a string cannot be changed once the value
str1[0:5] = 'HOLAA'

TypeError: 'str' object does not support item assignment

In [66]:
del str1 # Delete a string
print(srt1)

NameError: name 'srt1' is not defined

### String concatenation

In [68]:
# String concatenation
s1 = "Hello"
s2 = "Asif"
s3 = s1 + s2
print(s3)

HelloAsif

In [69]:
s1 = "Hello"
s2 = "Asif"
s3 =  s1 + " " + s2
print(s3)

Hello Asif

### Iterating through a String

In [72]:
mystr1 = "Hello Everyone"
# Iteration
for i in mystr1:
    print(i)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [73]:
for i in enumerate(mystr1):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [74]:
list(enumerate(mystr1)) # Enumerate method adds a counter to an iterable and return

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

#### String Membership

In [75]:
# String membership
mystr1 = "Hello Everyone"

print('Hello' in mystr1) # Check whether substring "Hello" is present in string
print('Everyone' in mystr1) # Check whether substring "Everyone" is present in string "mystr1"
print('Hi' in mystr1) # Check whether substring "Hi" is present in string "mystr1"

True
True
False

### String Partitioning

In [78]:
"""
The partition() method searches for a specified string and splits the string into

- The first element contains the part before the argument string.

- The second element contains the argument string.

- The third element contains the part after the argument string.

"""
str5 = "Natural language processing with Python and R and Java"
L = str5.partition("and")
print(L[0])
print(L[1])
print(L[2])

Natural language processing with Python
and
 R and Java

In [79]:
"""
The rpartition() method searches for the last occurence of the specified string a
containing three elements.
- The first element contains the part before the argument string.
- The second element contains the argument string.
- The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R and Java"
L = str5.rpartition("and")
print(L)

('Natural language processing with Python and R ', 'and', ' Java')

### String Functions

In [80]:
mystr2 = " Hello Everyone "
mystr2

' Hello Everyone '

In [81]:
mystr2.strip() # Removes white space from begining & end

'Hello Everyone'

In [82]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

' Hello Everyone'

In [83]:
mystr2.lstrip() # Removes all whitespaces at the begining of the string

'Hello Everyone '

In [84]:
mystr2 = "*********Hello Everyone***********All the Best**********"
mystr2

'*********Hello Everyone***********All the Best**********'

In [86]:
mystr2.strip('*') # Removes all '*' characters from begining & end of the string

'Hello Everyone***********All the Best'

In [88]:
mystr2.rstrip('*') # Removes all '*' characters at the end of the string

'*********Hello Everyone***********All the Best'

In [89]:
mystr2.lstrip('*') # Removes all '*' characters at the begining of the string

'Hello Everyone***********All the Best**********'

In [90]:
mystr2 = " Hello Everyone "

In [91]:
mystr2.lower() # Return whole string in lowercase

' hello everyone '

In [92]:
mystr2.upper() # Return whole string in uppercase

' HELLO EVERYONE '

In [93]:
mystr2.replace("He","Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [99]:
mystr2.replace(" ","") # Remove all whitespaces using replace function

'HelloEveryone'

In [98]:
mystr5 = "one two Three one two two three"

In [97]:
mystr5.count("one") # Number of times substring "one" occurred in string.

2

In [100]:
mystr5.count("two") # Number of times substring "two" occurred in string.

3

In [101]:
mystr5.startswith("one") # Return boolean value True if string starts with "one"

True

In [102]:
mystr5.endswith("three") # Return boolean value True if string ends with "three"

True

In [105]:
mystr4 = "one two three four one two two three five five six seven six seven one one, one, ten, eight, ten, nine, eleven, ten, ten, nine"

In [107]:
mylist = mystr4.split() # Split String into substrings
mylist

['one',
 'two',
 'three',
 'four',
 'one',
 'two',
 'two',
 'three',
 'five',
 'five',
 'six',
 'seven',
 'six',
 'seven',
 'one',
 'one,',
 'one,',
 'ten,',
 'eight,',
 'ten,',
 'nine,',
 'eleven,',
 'ten,',
 'ten,',
 'nine']

In [108]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77 
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1, item2, item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [110]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77 
res = "Cost of item3 , item2 and item1 are {2}, {1} and {0}"
print(res.format(item1, item2, item3))

Cost of item3 , item2 and item1 are 77, 55 and 40

In [113]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100)
# center align the string using a specific character as t
print(str2)

                                          WELCOME EVERYONE

In [114]:
str2 = " WELCOME EVERYONE "
str2 = str2.center(100, '*') # center align the string using a specific character
print(str2)

***************************************** WELCOME EVERYONE *****************************************

In [115]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50) # Right align the string using a specific character as the
print(str2)

                                 WELCOME EVERYONE

In [116]:
str2 = " WELCOME EVERYONE "
str2 = str2.rjust(50,'*') # Right align the string using a specific character ('*
print(str2)

******************************** WELCOME EVERYONE

In [117]:
str4 = "one two three four five six seven"
loc = str4.find("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [118]:
str4 = "one two three four five six seven"
loc = str4.index("five") # Find the location of word 'five' in the string "str4"
print(loc)

19

In [120]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letter
print(mystr6.isalnum()) # returns True if a string contains only letters or numbers
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

False
True
True
True

In [121]:
mystr6 = 'abcde'
print(mystr6.isalpha()) # returns True if all the characters in the text are lett
print(mystr6.isalnum()) # returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric()) # returns True if all the characters are numeric (0-9)

True
True
False
False

In [122]:
mystr6 = 'abc12309'
print(mystr6.isalpha())
# returns True if all the characters in the text are lett
print(mystr6.isalnum())
# returns True if a string contains only letters or numb
print(mystr6.isdecimal()) # returns True if all the characters are decimals (0-9)
print(mystr6.isnumeric ()) # returns True if all the characters are numeric (0-9)

False
True
False
False

In [123]:
mystr7 = 'ABCDEF'
print(mystr7.isupper())   # Returns True if all the characters are in upper case
print(mystr7.islower()) # Returns True if all the characters are in lower case

True
False

In [124]:
mystr8 = 'abcdef'
print(mystr8.isupper()) # Returns True if all the characters are in upper case
print(mystr8.islower()) # Returns True if all the characters are in lower case

False
True

In [126]:
str6 = "one two three four one two two three five five six one ten eight ten nine"
loc = str6.rfind("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [127]:
loc = str6.rindex("one") # last occurrence of word 'one' in string "str6"
print(loc)

51

In [128]:
txt = " abc def ghi "
txt.rstrip()

' abc def ghi'

In [129]:
txt = " abc def ghi "
txt.lstrip()

'abc def ghi '

In [130]:
txt = " abc def ghi "
txt.strip()

'abc def ghi'

### Using Escape Character

In [131]:
#Using double quotes in the string is not allowed.
mystr = "My favourite TV Series is "Game of Thrones ""

SyntaxError: invalid syntax (<ipython-input-131-4dd51e12dc57>, line 2)

In [132]:
#Using escape character to allow illegal characters
mystr = "My favourite series is \"Game of Thrones\""
print(mystr)

My favourite series is "Game of Thrones"

## List
1. List is an ordered sequence of items.
2. We can have different data types under a list. E.g we can have integer, float and string items ina same list.

### List Creation

In [137]:
list1 = [] # Empty List
print(list1)
print(type(list1))

[]
<class 'list'>

In [138]:
list2 = [10, 30, 60] # List of integers numbers

In [139]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [140]:
list4 = ['one','two',"three"] # List of strings

In [141]:
list5 = ['Asif',25,[50,100],[150,90]] # Nested Lists

In [142]:
list6 =[100,'Asif',17.765] # List of mixed data types

In [143]:
list7 = ['Asif',25,[50,100],[150,90] , {'John','David'}]

In [144]:
len(list6)

3

In [146]:
list2[0] # Retreive first element of the list
list4[0] # Retreive first element of the list

'one'